@model SquadManager.Models.UserViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css" />
<section>
    <h1>Autenticacao</h1>
    <form action="/Login/Test" method="post">

        <input type="text" id="email" name="email" value="@Model.email" placeholder="Username/e-mail" />
        <input type="password" id="password" name="password" value="@Model.password" placeholder="Senha" />
        <a href="#">Esqueceu a senha?</a>
        <button type="submit" onclick="Login(event);">Login</button>

    </form>

    <label>Não tem conta?<a href="#">Crie aqui</a></label>
</section>
<script src="~/js/login.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>